#
# Knack-Proxy CircleCI Build script
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7

    # Our build steps
    steps:
      # Get out code
      - checkout

      # We only need one step, that is to deploy the existing code into AWS
      - run:
          name: "Deploying to AWS Lambda"
          command: |
            cd ~/project
            source .circleci/aws-helper.sh
            pip install -r requirements.txt
            deploy_aws_lambda